# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# macOS system files
.DS_Store

# Windows system files
Thumbs.db
ehthumbs.db

# Python cache
*.cache
*.log

# Unit test /
